@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');
:root {
    --lightish: #9fd189;
    --blueish: #74cccd;
    --bright: #2aac5d;
    --forest: #488264;
    --forest-trans: rgba(42, 172, 93, 0);
    --dark: #2c2e35;

    --grad: -135deg, var(--dark) 0%, var(--forest) 25%, var(--bright) 50%, var(--lightish) 75%, var(--blueish) 100%;

    --togglerSize: 50px;
    --navInnerWidth: 50%;

    --stdMargin: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-color: var(--forest);
    position: relative;
    display: flex;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
    gap: 50vh;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    overflow-x: hidden;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    min-height: 100vh;
    /* width: 100vw; */
}

h1, nav a {
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 5%;
    position: absolute;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
}

p {
    margin-top: 1em;
}

.section-content {
    display: flex;
    align-items: center;
    gap: 10%;
    flex-grow: 1;
    text-align: left;
    line-height: 1.4em;
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: 'Century Gothic', 'Mulish', sans-serif;
    font-size: x-large;
    font-weight: 200;
    color: #fff;
}

#hero long-content[opt=logo] {
    width: 40%;
}

#hero .section-content {
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

long-content[opt=intro] {
    text-align: center;
    line-height: 1.4em;
}

.nav-fit {
    font-size: large;
}

/* .about-text > span {
    color:#2c2e35;
} */

.important {
    text-decoration: underline;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

long-content[opt=about] {
    font-size: large;
}

#links > .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--stdMargin);
}

.btn-link, .social-media {
    background-color: #9fd189;
    display: block;
    border-radius: 50px;
    padding: var(--stdMargin);
}

@media (orientation: portrait) {
    .section-content {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20%;
        margin-bottom: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #hero long-content[opt=logo] {
        width: 95%;
    }
}